@import 'nib';

@font-face {
  font-family: "NHG";
  font-weight: 700;
  src: url("/nhg.ttf") format('truetype');
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  padding: 0;
}

body {
  height: 100%;
}

.wrapper {
  padding: 1em;
  font-family: "NHG", "Helvetica Neue", Helvetica;
  height: 100%;
  background-image: linear-gradient(-134deg, #01B0F0 0%, #7DF4FF 100%);
  color: #FFED0D;

  &.wrapper--inactive {
    background-image: linear-gradient(-134deg, #F5515F 0%, #9F041B 100%);
    color: #fff;
  }

  &.wrapper--active {
    background-image: linear-gradient(-134deg, #B4EC51 0%, #429321 100%);
    color: #fff;
  }
}

.channels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.channels__target {
  background: rgba(0,0,0,.3);
  color: #fff;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  line-height: 60px;
  text-align: center;
  &.channels__target--pop {
    animation: flash 0.3s ease-in-out 0s 1 backwards;
  }

  &:hover {
    &.channels__target--beta {
      animation: beta 0.8s ease-in-out 0s infinite backwards alternate;
    }
    &.channels__target--gamma {
      animation: gamma 0.8s ease-in-out 0s infinite backwards alternate;
    }
    &.channels__target--xShift {
      animation: xShift 0.8s ease-in-out 0s infinite backwards alternate;
    }
    &.channels__target--yShift {
      animation: yShift 0.8s ease-in-out 0s infinite backwards alternate;
    }
    &.channels__target--zShift {
      perspective: 500;
      transform-style: preserve-3d;
      animation: zShift 0.8s ease-in-out 0s infinite backwards alternate;
    }
  }
}

.member {
  &[data-active=true] {
    color: green;
  }
}

@keyframes flash {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  80% {
    transform: scale(2);
    opacity: 0;
  }

  90% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes beta {
  0% {
    transform: rotateX(-40deg);
    transform-origin: 50% 50%;
    perspective: 200;
    perspective-origin: 50% 50%;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: 50% 50%;
    perspective: 200;
    perspective-origin: 50% 50%;
  }
}
@keyframes gamma {
  0% {
    transform: rotateX(-40deg) rotateY(-40deg);
    transform-origin: 50% 50%;
    perspective: 200;
    perspective-origin: 50% 50%;
  }
  100% {
    transform: rotateX(-40deg) rotateY(40deg);
    transform-origin: 50% 50%;
    perspective: 200;
    perspective-origin: 50% 50%;
  }
}
@keyframes xShift {
  0% {
    transform: translatex(-10px);
  }
  100% {
    transform: translatex(10px);
  }
}

@keyframes yShift {
  0% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(10px);
  }
}

@keyframes zShift {
  0% {
    /*transform: translatez(-10px);*/
    transform: scale(1);
  }
  100% {
    /*transform: translatez(10px);*/
    transform: scale(0.7);
  }
}
