@font-face {
  font-family: "NHG";
  font-weight: 700;
  src: url("/nhg.ttf") format('truetype');
}

body {
  background: #01ffae;
  color: #000;
  font-family: "NHG", "Helvetica Neue", Helvetica;
  overflow: hidden;
}

